token.txt
openai.txt
.vscode
*__pycache__*
keys/*
testing.ipynb
*.pdf
output/*
data/dataset/reddit+shsyt_cloze
data/source/shs100k2_rich.jsonl
notebooks/scratch.ipynb
baseline/music-ner-eacl2023/
baseline/music-ner-eacl2023/data/*
baseline/music-ner-eacl2023/output_shs/*
